<!-- <h1>Hello World!</h1>
<hinv-root-rooms></hinv-root-rooms>

<div #name></div>

<hinv-root-container>
    <hinv-root-rooms></hinv-root-rooms>
    <hinv-root-employee></hinv-root-employee>
    <h1>This is from ng-content</h1>
</hinv-root-container> -->

<!-- #user is a template reference, used to import component dynamicly -->
<!-- <div>
    <ng-template #user></ng-template>
</div> -->

<!-- <a routerLink="/rooms">Rooms</a> <br>
<a routerLink="/employee">Employee</a>

<router-outlet></router-outlet> -->

<hinv-root-app-nav></hinv-root-app-nav>
